@using ufshop.Data.Models
@using ufshop.Services
@rendermode InteractiveServer
@code {
    [Parameter]
    public ShopItem Item { get; set; }

    public readonly BeService beService;

    public string ImageUrl
    {
        get
        {
            return "/img/" + Item.PrimaryImage.Filename;
        }
    }

    public ArticleCard(BeService srv)
    {
        beService = srv;
    }

    public void AddToBasket()
    {
        //TODO
        //check if availability > 0

        //CartService.Add(Item)
    }
}
@* 
 TODO: ersätt Image Med Carousel 
 https://demos.blazorbootstrap.com/carousel
*@
@{ string articleUrl = "/article/" + Item.Id.ToString(); }
<Card Class="mb-4" Style="max-width:12rem;">
    <a href=@articleUrl style="text-decoration: inherit;color:inherit;">
        <Image Src="@ImageUrl" Alt="@Item.PrimaryImage.AltText" />
        <CardBody>
            <CardTitle>
                @Item.Title
            </CardTitle>
            <CardText>
                @Item.Description
            </CardText>
        </CardBody>
    </a>
        <CardFooter>
            Pris: @Item.Price
            @* <Button Color="ButtonColor.Primary" @onclick="AddToBasket">Lägg i varukorg</Button> *@
            Antal kvar: @Item.ItemsAvailable
        </CardFooter>
        <p>hej</p>
</Card>