@using System.Collections.Immutable
@using System.Reflection.Metadata
@using ufshop.Components.Account.Pages
@using ufshop.Data.Models
@using ufshop.Services
@using ufshop.Shared
@namespace ufshop.Components.UI
@rendermode InteractiveServer

@code {

    private readonly ManageShopOrderCartService Service;

    [Parameter]
    public Guid Id { get; set; }

    [Parameter]
    public Cart Cart { get; set; }

    public ManageShopOrderCart(BeService srv)
    {
        Service = new ManageShopOrderCartService(srv);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
    }

}
@if (Cart is null)
{
    <Spinner />
}
else
{
    <div class="row">
        <div class="col">Titel</div>
        <div class="col">Antal</div>
        <div class="col">Styckpris</div>
        <div class="col">Pris</div>
    </div>
    @foreach(CartItem cartItem in Cart.CartItems)
    {
        <div class="row">
            <div class="col">
                <p>@cartItem.Title</p>
            </div>
            <div class="col">
                <p>@cartItem.Amount</p>
            </div>
            <div class="col">
                <p>@cartItem.Price</p>
            </div>
            <div class="col">
                @{int pta = cartItem.Amount * cartItem.Price;}
                <p>@pta</p>
            </div>
        </div>
    }
    <div class="row">
        <div class="col">
            Basfraktpris: @Service.BaseShippingPrice().ToString()
        </div>
    </div>
    <div class="row">
        <div class="col">
            Total summa: @Service.TotalSum(Cart)
        </div>
    </div>
}
