@using System.Collections.Immutable
@using System.Reflection.Metadata
@using ufshop.Data.Models
@using ufshop.Services
@using ufshop.Shared
@namespace ufshop.Components.UI
@rendermode InteractiveServer

@code {

    public readonly BeService beService;
    public readonly ManageShopSettingsService Service;

    private List<string> Themes;
    private string SelectedTheme;

    //shop . shopsetting . shopcontactinfo . shopsocialmedia
    //shop .    settings . contactinfo . socialmedia
    public ManageShopSettings(BeService srv)
    {
        beService = srv;
        Service = new ManageShopSettingsService(srv);
        Themes = Service.GetThemes();
        SelectedTheme = Service.GetShopTheme();
    }

    @* protected override async Task OnInitializedAsync()
    {

    } *@

    public void SaveShopSettings(EventArgs args)
    {
        Service.SaveShop();
    }

    private void SelectThemeChange(ChangeEventArgs e)
    {
        if (e is not null && e.Value is not null)
        {
            SelectedTheme = e.Value.ToString();
            Service.Shop.Settings.Theme = SelectedTheme;
        }
    }
}


<section class="mx-4 my-4">

    <div class="row m-4">
        <div class="col text-center text-primary">
            <h1 class="display-5 fw-bold">Inställningar</h1>
        </div>
    </div>


    <div class="card shadow border-0 mb-4">
        <div class="card-body p-4">

            <Accordion class="mb-5">
                <AccordionItem>
                    <TitleTemplate>
                        <h3><Icon Name="IconName.Gear" Class="me-1" /> Inställningar UF-shop</h3>
                    </TitleTemplate>
                    <Content>
                        <p>SelectedTheme: @SelectedTheme</p>
                        <label class="form-control">Namn UF-företag</label>
                        <InputText @bind-value="Service.Shop.Settings.Title" class="form-control" />

                        <label class="form-control">Beskrivning UF-företag</label>
                        @* <InputText @bind-value="Service.Shop.Settings.Description" class="form-control" /> *@
                        <TextAreaInput @bind-value="Service.Shop.Settings.Description" class="form-control" rows="5" />

                        <label class="form-control">Swish nummer</label>
                        <InputText @bind-value="Service.Shop.Settings.SwishNumber" class="form-control" />

                        <label class="form-control">Basfraktpris</label>
                        <NumberInput @bind-value="Service.Shop.Settings.BaseShippingPrice" class="form-control" EnableMinMax="true" Min="0" Max="10000" />

                        @* <label class="form-control">Layout (används ej ännu)</label> *@
                        @* <InputText @bind-value="Service.Shop.Settings.Layout" class="form-control" disabled="true" /> *@

                        <label class="form-control">Färgtema</label>
                        @* <InputText @bind-value="Service.Shop.Settings.Theme" class="form-control" disabled="true" /> *@
                        <select class="form-select" @onchange="SelectThemeChange">
                            @foreach(string themeName in Themes)
                            {
                                if (themeName.Equals(SelectedTheme))
                                {
                                    <option value="@themeName" selected>@themeName</option>
                                }
                                else
                                {
                                <option value="@themeName">@themeName</option>
                                }
                            }
                        </select>

                    </Content>
                </AccordionItem>

                <AccordionItem>
                    <TitleTemplate>
                        <h3><Icon Name="IconName.ChatLeftText" Class="me-1" /> Kontaktinformation</h3>
                    </TitleTemplate>
                    <Content>

                        <div class="mb-4">
                            <label class="form-label fw-semibold">
                                <Icon Name="IconName.Envelope" /> E-postadress
                            </label>
                            <InputText @bind-value="Service.Shop.Settings.ContactInfo.Email"
                                class="form-control" />
                        </div>

                        <div class="mb-4">
                            <label class="form-label fw-semibold">
                                <Icon Name="IconName.Phone" /> Mobilnummer
                            </label>
                            <InputText @bind-value="Service.Shop.Settings.ContactInfo.MobileNumber"
                                class="form-control" />
                        </div>

                    </Content>
                </AccordionItem>

                <AccordionItem>
                    <TitleTemplate>
                        <h3><Icon Name="IconName.ChatLeftHeart" Class="me-1" /> Sociala medier</h3>
                    </TitleTemplate>
                    <Content>

                        <div class="mb-4">
                            <label class="form-label fw-semibold">
                                <Icon Name="IconName.Facebook"/> Facebook-sida
                            </label>
                            <InputText @bind-value="Service.Shop.Settings.ContactInfo.SocialMedia.Facebook"
                                class="form-control" />
                        </div>

                        <div class="mb-4">
                            <label class="form-label fw-semibold">
                                <Icon Name="IconName.Instagram" /> Instagram-sida
                            </label>
                            <InputText @bind-value="Service.Shop.Settings.ContactInfo.SocialMedia.Instagram"
                                class="form-control" />
                        </div>

                        <div class="mb-4">
                            <label class="form-label fw-semibold">
                                <Icon Name="IconName.Linkedin" /> LinkedIn-sida
                            </label>
                            <InputText @bind-value="Service.Shop.Settings.ContactInfo.SocialMedia.LinkedIn"
                                class="form-control" />
                        </div>

                        <div class="mb-4">
                            <label class="form-label fw-semibold">
                                <Icon Name="IconName.Tiktok" /> TikTok-sida
                            </label>
                            <InputText @bind-value="Service.Shop.Settings.ContactInfo.SocialMedia.TikTok"
                                class="form-control" />
                        </div>

                        <div class="mb-4">
                            <label class="form-label fw-semibold">
                                <Icon Name="IconName.Youtube" /> YouTube-sida
                            </label>
                            <InputText @bind-value="Service.Shop.Settings.ContactInfo.SocialMedia.YouTube"
                                class="form-control" />
                        </div>

                    </Content>
                </AccordionItem>
            </Accordion>

            <Button Color="ButtonColor.Success" @onclick="((args) => SaveShopSettings(args))">
                <Icon Name="IconName.Save" />
            </Button>

        </div>
    </div>



</section>