@using System.Collections.Immutable
@using System.Reflection.Metadata
@using ufshop.Data.Models
@using ufshop.Services
@using ufshop.Shared
@namespace ufshop.Components.UI
@rendermode InteractiveServer

@code {

    public readonly BeService beService;
    public readonly ManageEditItemService Service;

    public readonly string FormTitleId = Guid.NewGuid().ToString();
    public readonly string FormDescriptionId = Guid.NewGuid().ToString();
    public readonly string FormItemsAvailableId = Guid.NewGuid().ToString();
    public readonly string FormItemsPriceId = Guid.NewGuid().ToString();
    public readonly string FormItemsOrderId = Guid.NewGuid().ToString();
    public readonly string FormPrimaryImageId = Guid.NewGuid().ToString();
    public readonly string FormImagesId = Guid.NewGuid().ToString();
    public readonly string FormActiveId = Guid.NewGuid().ToString();

    ShopItem editShopItem = new ShopItem
    {
        Id = Guid.Empty,
        Active = false,
        Title = string.Empty,
        Description = string.Empty,
        ItemsAvailable = 0,
        Price = 0,
        Order = 0,
        PrimaryImage = new ShopImage
        {
            Id = Guid.Empty,
            Created = DateTime.Now,
            Filename = Constants.EMPTYIMAGEFILENAME,
            AltText = "BildBeskrivning"
        },
        Images = new HashSet<ShopImage>(),
        Properties = new HashSet<ShopItemProperty>()
    };

    public ManageEditItem(BeService srv)
    {
        beService = srv;
        Service = new ManageEditItemService(srv);
    }

    @* protected override async Task OnInitializedAsync()
    {

    } *@

    private void HandleSelectedPrimaryImage(string value)
    {
        Guid Id = Guid.Parse(value);
        var iss = new ImageSelectorService(beService);
        ShopImage image = default!;
        bool result = iss.GetImage(Id, ref image);
        if (result)
        {
            editShopItem.PrimaryImage = image;
        }
    }

    private void HandleSelectedCarouselImage(string value)
    {
        Guid Id = Guid.Parse(value);

        ShopService ss = new ShopService(beService);
        Shop shop;
        if (ss.GetShop(beService.DomainPrefix, out shop))
        {
            if (shop.Images.Where(e=>e.Id.Equals(Id)).Any())
            {
                ShopImage shopImage = shop.Images.Where(e=>e.Id.Equals(Id)).First();
                if (editShopItem.Images.Where(e=>e.Id.Equals(Id)).Any())
                {
                    editShopItem.Images.Remove(shopImage);
                }
                else
                {
                    editShopItem.Images.Add(shopImage);
                }
            }
        }
    }

    private void EditItem()
    {
        Service.Edit(editShopItem);
    }

    private bool CanEditItem
    {
        get
        {
            return !Service.CanEditItem(editShopItem);
        }
    }

    private void SelectItemChange(ChangeEventArgs e)
    {
        Guid SelectedId = Guid.Empty;
        if (e is not null && e.Value is not null)
        {
            if (Guid.TryParse(e.Value.ToString(), out SelectedId))
            {
                ShopItem shopItem;
                if (Service.GetShopItem(SelectedId, out shopItem))
                {
                    editShopItem = shopItem;
                }
            }
        }
    }

    public List<ShopItem> AllShopItems = new List<ShopItem>();
    public void UpdateAllShopItems()
    {
        AllShopItems = Service.AllShopItems().ToList();
    }


}
<div class="row">
    <div class="col">
        <h1>Redigera vara</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <select class="form-select" @onchange="SelectItemChange" @onchange="UpdateAllShopItems">
            <option selected disabled>Välj vara</option>
            @foreach(ShopItem item in AllShopItems)
            {
                string active = item.Active ? string.Empty : "ej";
                <option value="@item.Id">
                    @item.Title (@item.ItemsAvailable kvar, @active publicerad)
                </option>
            }
        </select>
    </div>
</div>

@if (editShopItem.Id != Guid.Empty)
{


    <div class="row">
        <div class="col">
            <label class="col-form-label" for="@FormTitleId">Titel</label>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <InputText class="form-control" id="@FormTitleId" @bind-Value="@editShopItem.Title" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="col-form-label" for="@FormDescriptionId">Beskrivning</label>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <TextAreaInput class="form-control" id="@FormDescriptionId" Rows="5" @bind-Value="@editShopItem.Description" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="col-form-label" for="@FormItemsAvailableId">Antal tillgängliga</label>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <InputNumber class="form-control" id="@FormItemsAvailableId" @bind-Value="@editShopItem.ItemsAvailable" Min="1" Max="1000" />
        </div>
    </div>


    <div class="row">
        <div class="col">
            <label class="col-form-label" for="@FormItemsPriceId">Pris</label>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <InputNumber class="form-control" id="@FormItemsPriceId" @bind-Value="@editShopItem.Price" Min="0" Max="10000" />
        </div>
    </div>


    <div class="row">
        <div class="col">
            <label class="col-form-label" for="@FormItemsOrderId">Sorteringsordning</label>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <InputNumber class="form-control" id="@FormItemsOrderId" @bind-Value="@editShopItem.Order" Min="1" Max="10000" />
        </div>
    </div>




    <div class="row">
        <div class="col">
            <Accordion>
                <AccordionItem Title="Primär bild">
                    <Content>
                        <ImageSelector Image=@editShopItem.PrimaryImage OnValueSelected="HandleSelectedPrimaryImage"/>
                    </Content>
                </AccordionItem>
                <AccordionItem Title="Karusellbilder">
                    <Content>
                        <ImagesSelector Images=@editShopItem.Images OnValueSelected="HandleSelectedCarouselImage" />
                    </Content>
                </AccordionItem>
            </Accordion>
        </div>
    </div>




    <div class="row">
        <div class="col">
            <label class="col-form-label">Vald primär bild</label>
        </div>
    </div>

    <div class="row">
        <div class="col">
    @{
        string imageFile = "/img/" + editShopItem.PrimaryImage.Filename;
    }
            <Image Src="@imageFile" Alt="@editShopItem.PrimaryImage.AltText" style="width: 200px; height: 200px" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="col-form-label">Valda karusellbilder</label>
        </div>
    </div>

    <div class="row">
        <div class="col">
        @foreach(ShopImage image in @editShopItem.Images.OrderBy(e=>e.Created))
        {
            string imageFileName = "/img/t/" + image.Filename;
            <Image Src="@imageFileName" IsThumbNail="true" Alt="@editShopItem.PrimaryImage.AltText" />
        }

        </div>
    </div>

    @* <div class="row">
        <div class="col">
            <label class="col-form-label" for="@FormActiveId">Publicera</label>
        </div>
    </div> *@
    <div class="row">
        <div class="col">
            <CheckboxInput id="FormActiveId" Label="Publicera" @bind-Value="@editShopItem.Active" />
            @* TODO: om ufshop väljer att avpublicera måste varan plockas bort från ALLA aktiva carts (jippi...) *@
        </div>
    </div>



    <Button Color="ButtonColor.Primary" @onclick="EditItem" Disabled="!CanEditItem">Spara</Button>
}
