@using System.Collections.Immutable
@using System.Reflection.Metadata
@using ufshop.Data.Models
@using ufshop.Services
@using ufshop.Shared
@namespace ufshop.Components.UI
@rendermode InteractiveServer

@code {

    public readonly BeService beService;
    public readonly ManageImagesService Service;

    public readonly string FormImagesId = Guid.NewGuid().ToString();

    public HashSet<ShopImage> Images = new HashSet<ShopImage>();

    

    public ManageImages(BeService srv)
    {
        beService = srv;
        Service = new ManageImagesService(srv);
        Images = Service.GetShopImages();
    }

    protected void DeleteImage(EventArgs args, Guid Id)
    {

        //get image
        if (Images.Where(e => e.Id.Equals(Id)).Any())
        {
            ShopImage shopImage = Images.Where(e => e.Id.Equals(Id)).First();
            Service.DeleteImage(shopImage);
            Images = Service.GetShopImages();
        }
    }

    protected void UpdateImageAltText(EventArgs args, Guid Id)
    {
        ;
        //get image
        if (Images.Where(e => e.Id.Equals(Id)).Any())
        {
            ShopImage shopImage = Images.Where(e => e.Id.Equals(Id)).First();
            Service.UpdateAltText(shopImage);
            Images = Service.GetShopImages();
        }
    }


    public async Task LoadFile(InputFileChangeEventArgs e)
    {
        if (e.File.ContentType.Contains("image/"))
        {
            var ms = new MemoryStream();
            await e.File.OpenReadStream(Constants.MAXALLOWEDFILESIZE).CopyToAsync(ms);
            byte[] rawdata = ms.ToArray();

            if (rawdata.Length > 0)
            {
                if (Service.AddImage(rawdata))
                {
                    Images = Service.GetShopImages();
                }
            }
        }
        @* if (e.File.ContentType.Contains("image/"))
        {
            var ms = new MemoryStream();
            await e.File.OpenReadStream(Constants.MAXALLOWEDFILESIZE).CopyToAsync(ms);
            byte[] rawdata = ms.ToArray();

            ShopImage primaryImage = newShopItem.PrimaryImage;

            if (rawdata.Length > 0)
            {
                if (Service.UpdateImage(rawdata, ref primaryImage))
                {
                    ;
                    newShopItem.PrimaryImage = primaryImage;
                    
                }
            }
        } *@
    }

}

<section class="container my-5">

    @* Header *@
    <div class="col text-center ">
        <h1 class="display-5 fw-bold text-primary">
            <i class="bi bi-images me-3"></i>Bildbibliotek
        </h1>
    </div>

    @* Ladda upp bild *@
    <div class="card shadow-sm border-0 mb-5">
        <div class="card-body p-4 px-5">
            <div class=" mb-3 mb-md-0">
                <label for="@FormImagesId" class="form-label fw-semibold">
                    <i class="bi bi-cloud-upload me-2"></i>Ladda upp ny bild
                </label>
                <InputFile id="@FormImagesId" OnChange="LoadFile" class="form-control form-control-lg"/>
            </div>
        </div>
    </div>

    @* Image Grid *@
    <div class="row g-4">
        @foreach(ShopImage image in Images.OrderByDescending(e=>e.Created))
        {
            string imagename = "/img/" + image.Filename;
            string thumbname = "/img/t/" + image.Filename;

        <div class="col-12 col-md-6 col-lg-4 ">
            <div class="card h-100 shadow-sm border-0 image-card">
                
                @* Image Container *@
                <div class="position-relative overflow-hidden" style="height: 250px;">

                    <Image Src="@imagename" Alt="@image.AltText" 
                               class="w-100 h-100 object-fit-cover" />


                </div>

                

                @* <div class="col"> *@
                    @* <Image Src="@imagename"  Alt="@image.AltText" style="width:150px;height:150px" class="border border-3 rounded-3 border-secondary"/> *@
                    @* <Image Src="@thumbname"  Alt="@image.AltText" style="box-shadow: 0 0 0.5rem red;"/> *@
                @* </div> *@
            @* </div>
            <div class="row"> *@

            @* Card Body *@
            <div class="card-body text-center">
                <label class="form-label small mb-2">
                    <i class="bi bi-textarea-t me-1"></i>Alternativ text
                </label>

                <InputTextArea @bind-Value="@image.AltText" rows="2" class="form-control px-3 py-2 mb-3"/>

                <div class="d-flex gap-2">
                    <Button class="flex-fill btn-primary fw-semibold" @onclick="((args) => UpdateImageAltText(args, image.Id))">
                        <Icon Name="IconName.Check2" class="me-1"/>
                        Spara
                    </Button>
                    <Button class="flex-fill btn-outline-danger fw-semibold" " @onclick="((args) => DeleteImage(args, image.Id))">
                        <Icon Name="IconName.Trash" class="me-1" />
                        Ta Bort
                    </Button>



                </div>
            </div>



            <div class="col d-flex flex-column justify-content-center">
                    <div class="row">
                        <InputTextArea @bind-Value="@image.AltText" rows="1" class="form-control px-3 py-2"/>
                    </div>  
                    <div class="row my-2">
                        <Button class="col me-1" Color="ButtonColor.Primary" @onclick="((args) => UpdateImageAltText(args, image.Id))">
                            <Icon Name="IconName.Check" />
                        </Button>
                        <Button class="col ms-1" Color="ButtonColor.Danger" @onclick="((args) => DeleteImage(args, image.Id))">
                            <Icon Name="IconName.Trash" />
                        </Button>
                    </div>
                </div>    
            </div>

            </div>





        }

    </div>
</section>
