@page "/article/{id:guid}"
@using ufshop.Data.Models
@using ufshop.Services
@using ufshop.Shared
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization


@code {
    //TODO: ska vi stöda /article/Title också? chatgpt vet hur man gör ;)
    private readonly BeService BeService;
    private readonly ArticleService Service;

    [Parameter]
    public Guid id { get; set; }

    public ShopItem shopItem = null;

    public int BuyNumItems { get; set; } = 1;

    public string ImageURL
    {
        get
        {
            if (shopItem is not null && shopItem.PrimaryImage is not null)
            {
                return "/img/" + shopItem.PrimaryImage.Filename;
            }
            return "/img/" + Constants.EMPTYIMAGEFILENAME;
        }
    }

    public string ImageText
    {
        get
        {
            if (shopItem is not null && shopItem.PrimaryImage is not null)
            {
                return shopItem.PrimaryImage.AltText;
            }
            return "Ingen bild";
        }
    }


    public Article(BeService beService)
    {
        BeService = beService;
        Service = new ArticleService(beService);
    }

    protected override async Task OnInitializedAsync()
    {
        if(id.Equals(Guid.Empty))
        {
            //TODO: navigate back or to home page?
        }

        ShopItem item;
        if (Service.GetShopItem(id, out item))
        {
            shopItem = item;
        }
    }

    private async Task AddToCart()
    {
        if (!id.Equals(Guid.Empty) && shopItem is not null && BuyNumItems > 0 && BuyNumItems <= shopItem.ItemsAvailable)
        {

            //TODO
            @* HashSet<CartItemProperty> cartItemProperties = new HashSet<CartItemProperty>(); *@

            CartItem newCartItem = CartService.BuildCartItem(shopItem, BuyNumItems);//, cartItemProperties);

            CartService cartService = new CartService(this.BeService);
            await cartService.AddOrUpdateAsync(newCartItem);
        }
    }

    @* private async Task ClearCart()
    {
        CartService cartService = new CartService(this.BeService);
        await cartService.ClearAsync();
    } *@

    private async Task NumItemsChange()
    {
        if (!id.Equals(Guid.Empty))
        {
            if (BeService.DbContext.ShopItems.Where(e => e.Id.Equals(id)).Any())
            {
                shopItem = BeService.DbContext.ShopItems.Where(e => e.Id.Equals(id)).First();
                BuyNumItems = Math.Min(shopItem.ItemsAvailable, BuyNumItems);
                BuyNumItems = Math.Max(0, BuyNumItems);
            }
        }
    }

    private async Task NavigateBack()
    {
        await BeService.JsRuntime.InvokeVoidAsync("history.back");
    }
}

@if (shopItem is null)
{
    <PageTitle>Hämtar artikel</PageTitle>
    <Spinner />
    <p>Hämtar...</p>
    @* <p>@id</p> *@
}
else
{
    <PageTitle>Visar artikel "@shopItem.Title"</PageTitle>

    <Button Color="ButtonColor.Primary" @onclick="NavigateBack">
        <Icon Name="IconName.ArrowLeft" />
    </Button>

    <p>Titel: @shopItem.Title</p>
    <p>Antal tillgängliga: @shopItem.ItemsAvailable</p>
    <p>Pris: @shopItem.Price</p>
    <p>Beskrivning: @shopItem.Description</p>
    <p>Ordning: @shopItem.Order</p>@* denna är ju onödig på artikelsidan men den finns ju iaf *@
    <p>Till försäljning: @shopItem.Active</p>
    <p>
        Primär bild:
        <img src="@ImageURL" alt="@ImageText" />
    </p>
    <p>
        Karusellbilder:
        @foreach(ShopImage shopImage in shopItem.Images)
        {
            string imageUrl = "/img/t/" + shopImage.Filename;
            string imageText = shopImage.AltText;
            <img src="@imageUrl" alt="@imageText" />
        }
    </p>

    <p>
        <InputNumber @bind-value="BuyNumItems" min="1" max="@shopItem.ItemsAvailable" @onchange="NumItemsChange" />
    </p>
    <p>
        @if (shopItem.Active && shopItem.ItemsAvailable > 0)
        {
            <Button Color="ButtonColor.Primary" @onclick="AddToCart">Lägg till i varukorg</Button>
        }
    </p>
    @* <Button Color="ButtonColor.Primary" @onclick="ClearCart">Töm varukorg</Button> *@
}
