@page "/article/{id:guid}"
@using ufshop.Data.Models
@using ufshop.Services
@using ufshop.Shared
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization


@code {
    //TODO: ska vi stöda /article/Title också? chatgpt vet hur man gör ;)
    private readonly BeService BeService;
    private readonly ArticleService Service;

    [Parameter]
    public Guid id { get; set; }

    public ShopItem shopItem = null;

    public int BuyNumItems { get; set; } = 1;

    public string ImageURL
    {
        get
        {
            if (shopItem is not null && shopItem.PrimaryImage is not null)
            {
                return "/img/" + shopItem.PrimaryImage.Filename;
            }
            return "/img/" + Constants.EMPTYIMAGEFILENAME;
        }
    }

    public string ImageText
    {
        get
        {
            if (shopItem is not null && shopItem.PrimaryImage is not null)
            {
                return shopItem.PrimaryImage.AltText;
            }
            return "Ingen bild";
        }
    }


    public Article(BeService beService)
    {
        BeService = beService;
        Service = new ArticleService(beService);
    }

    protected override async Task OnInitializedAsync()
    {
        if(id.Equals(Guid.Empty))
        {
            //TODO: navigate back or to home page?
        }

        ShopItem item;
        if (Service.GetShopItem(id, out item))
        {
            shopItem = item;
        }
    }

    private void AddToBasket()
    {

    }
}

@if (shopItem is null)
{
    <PageTitle>Hämtar artikel</PageTitle>
    <Spinner />
    <p>Hämtar...</p>
    <p>@id</p>
}
else
{
    <PageTitle>Visar artikel "@shopItem.Title"</PageTitle>

    <p>Titel: @shopItem.Title</p>
    <p>Antal tillgängliga: @shopItem.ItemsAvailable</p>
    <p>Pris: @shopItem.Price</p>
    <p>Beskrivning: @shopItem.Description</p>
    <p>Ordning: @shopItem.Order</p>@* denna är ju onödig på artikelsidan men den finns ju iaf *@
    <p>Till försäljning: @shopItem.Active</p>
    <p>
        Primär bild:
        <img src="@ImageURL" alt="@ImageText" />
    </p>
    <p>
        Karusellbilder:
        @foreach(ShopImage shopImage in shopItem.Images)
        {
            string imageUrl = "/img/t/" + shopImage.Filename;
            string imageText = shopImage.AltText;
            <img src="@imageUrl" alt="@imageText" />
        }
    </p>

    <p>
        <InputNumber @bind-value="BuyNumItems" min="1" max="@shopItem.ItemsAvailable" />
    </p>
    <p>
        @if (shopItem.Active)
        {
            <Button Color="ButtonColor.Primary" @onclick="AddToBasket">Lägg till i varukorg</Button>
        }
    </p>
}
