@page "/"
@using ufshop.Services

@* the following will redirect to authentication immediately if not authenticated *@
@* @attribute [Authorize] *@ 

@rendermode InteractiveServer
@* @inject ufshop.Services.BeService BeService *@
@code {
    private readonly BeService beService;
    private readonly HomePageService Service;
    public Home(ufshop.Services.BeService srv)
    {
        beService = srv;
        Service = new HomePageService(beService);
    }
}
<PageTitle>Home</PageTitle>
<HeadContent>
    @* <meta name="headcontent" description="lol yep!" /> *@
</HeadContent>
@* <h1>Hello, world!</h1> *@
@* <p>@wwwPath</p> *@
@* <p>@Service.beService.DomainPrefix</p> *@
@* <AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView> *@
<div class="row align-items-center mb-4 px-5">
    <div class="col-9">
        <div class="row">
            <h1 class="display-4 col-12 fw-bold mb-3">
                @Service.Title
            </h1>
            <p class="lead col-12 lead mb-0">
                @Service.Description
            </p>
        </div>
    </div>
    <div class="col-3 mt-3">
        <Image Src="@Service.LogoImageFile" Alt="@Service.LogoImageAltText" 
        class="img-fluid home-logo rounded-4" />
    </div>
</div>

<div class="row">
    <div class="col-12">
        <PagesTabs Pages=Service.Pages Items=Service.ShopItems />
    </div>
</div>


